    <a href="/b_tel_express/" class="w3-bar-item w3-button w3-hide-small w3-hover-white"> الــصــفــحـــة الــرئــيــســيـــــة </a>
    <p>  </p>


<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>          

<title>B-TELECOM COMPANY: EXPRESS RECHARGE APPLICATION (SERVER-SIDE)</title>
    </head>

    <body>
        <div class="container-fluid p-2 bg-primary text-white text-center">
            <h2>إدارة حــســابــات الــمــســتــخــدمــيــن</h2>
        </div>        

	<div class="container mt-5">
            <table class="table">
                <thead>
                    <tr>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>

                 
		     <tr>
                        <td>
	                        <a href="/admin/">admin</a>
			</td>
                     </tr>                    


		     <tr>
                        <td>
	                        <a href="/accounts/password_change/">account password change</a>
			</td>
                     </tr>                    


		     <tr>
                        <td>
	                        <a href="/accounts/password_change/done/">account password change done</a>
			</td>
                     </tr>                    


		     <tr>
                        <td>
	                        <a href="/accounts/password_reset/">account password reset</a>
			</td>
                     </tr>                    


		     <tr>
                        <td>
	                        <a href="/accounts/password_reset/done/">account password reset done</a>
			</td>
                     </tr>                    


		     <tr>
                        <td>
	                        <a href="/accounts/reset/<uidb64>/<token>/">account password_reset_confirm</a>
			</td>
                     </tr>                    


		     <tr>
                        <td>
	                        <a href="/accounts/reset/done/">account reset done</a>
			</td>
                     </tr>                    

                
                </tbody>
            </table>
       </div>



    </body>
</html>
