    <a href="/b_tel_express/" class="w3-bar-item w3-button w3-hide-small w3-hover-white"> الــصــفــحـــة الــرئــيــســيـــــة </a>
    <p>  </p>



<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>          

<title>B-TELECOM COMPANY: EXPRESS RECHARGE APPLICATION (SERVER-SIDE)</title>
    </head>

    <body>
        <div class="container-fluid p-2 bg-primary text-white text-center">
            <h2>ســبــاء فــــون: تــفــاصــيــل الــبــاقــــــة</h2>
        </div>        


	<div class="container mt-5">
            <h4>
		{{ my_package_info }}
	    </h4>
		
        </div>



    </body>
</html>
